// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Resets margin and padding
@mixin zero{
   margin: 0;
   padding: 0;
 }

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// Anti Aliasing for light colors on dark backgrounds
 @mixin anti-aliasing{
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

// Buttons
@mixin primary-btn {
  @include anti-aliasing;
  color: $white;
  padding: .25em 1.5em;
  border-radius: 3px;
  border: 1px solid $btn-blue-border;
  vertical-align: middle;
  background: $btn-light-blue;
  background-image: -webkit-linear-gradient(top, $btn-light-blue, $btn-dark-blue);
  background-image: -moz-linear-gradient(top, $btn-light-blue, $btn-dark-blue);
  background-image: -ms-linear-gradient(top, $btn-light-blue, $btn-dark-blue);
  background-image: -o-linear-gradient(top, $btn-light-blue, $btn-dark-blue);
  background-image: linear-gradient(to bottom, $btn-light-blue, $btn-dark-blue);
}

@mixin secondary-btn {
  color: $body-text;
  padding: .25em 1.5em;
  border-radius: 3px;
  background: #ebebeb;
  background-image: -webkit-linear-gradient(top, $btn-light-grey, $btn-dark-grey);
  background-image: -moz-linear-gradient(top, $btn-light-grey, $btn-dark-grey);
  background-image: -ms-linear-gradient(top, $btn-light-grey, $btn-dark-grey);
  background-image: -o-linear-gradient(top, $btn-light-grey, $btn-dark-grey);
  background-image: linear-gradient(to bottom, $btn-light-grey, $btn-dark-grey);
  border: 1px solid $btn-grey-border;
  vertical-align: middle;
}

@mixin login-btn {
  @include anti-aliasing;
  background-color: $btn-light-blue;
  color: $white;
  padding: 1em 1.5em;
  border-radius: 0;
  border: 0;

}
