@font-face {
  font-family: 'drupalcamp-font';
  src: url('../font/drupalcamp-font.eot?13527939');
  src: url('../font/drupalcamp-font.eot?13527939#iefix') format('embedded-opentype'),
       url('../font/drupalcamp-font.woff?13527939') format('woff'),
       url('../font/drupalcamp-font.ttf?13527939') format('truetype'),
       url('../font/drupalcamp-font.svg?13527939#drupalcamp-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'drupalcamp-font';
    src: url('../font/drupalcamp-font.svg?41964514#drupalcamp-font') format('svg');
  }
}
*/

 [class^="i-"]:before, [class*=" i-"]:before {
  font-family: "drupalcamp-font";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.i-menu:before { content: '\e800'; } /* '' */
.i-heart-empty:before { content: '\e801'; } /* '' */
.i-star-empty:before { content: '\e802'; } /* '' */
.i-star:before { content: '\e803'; } /* '' */
.i-ok:before { content: '\e804'; } /* '' */
.i-left-open-mini:before { content: '\e805'; } /* '' */
.i-right-open-mini:before { content: '\e806'; } /* '' */
.i-up-open-mini:before { content: '\e807'; } /* '' */
.i-down-open-big:before { content: '\e808'; } /* '' */
.i-cog:before { content: '\e809'; } /* '' */
.i-linux:before { content: '\e80a'; } /* '' */
.i-tint:before { content: '\e80b'; } /* '' */
.i-right:before { content: '\e80c'; } /* '' */
.i-briefcase:before { content: '\e80d'; } /* '' */
.i-location-circled:before { content: '\e80e'; } /* '' */
.i-comment-inv-alt2:before { content: '\e80f'; } /* '' */
.i-left-open-big:before { content: '\e810'; } /* '' */
.i-twitter-circled:before { content: '\e811'; } /* '' */
.i-facebook-circled:before { content: '\e812'; } /* '' */
.i-right-open-big:before { content: '\e813'; } /* '' */
.i-up-open-big:before { content: '\e814'; } /* '' */
.i-right-small:before { content: '\e815'; } /* '' */
.i-code:before { content: '\e816'; } /* '' */
.i-cancel-circled:before { content: '\e817'; } /* '' */
.i-direction:before { content: '\e818'; } /* '' */
.i-chat-empty:before { content: '\e819'; } /* '' */
.i-direction-1:before { content: '\e81a'; } /* '' */
.i-phone:before { content: '\e81b'; } /* '' */
.i-drupal:before { content: '\e81c'; } /* '' */
.i-facebook:before { content: '\e81d'; } /* '' */
.i-github-circled:before { content: '\e81e'; } /* '' */
.i-cancel:before { content: '\e81f'; } /* '' */