input[type="text"], 
input[type="email"],
input[type="password"], 
textarea {
  margin-right: 1em;
  line-height: 1;
  padding: .5em .5em;
  @include rem-fallback(font-size, 1);
  @include box-sizing(border-box);
}

.btn-sponsor {
  @include primary-btn;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include primary-btn;
}

#edit-cancel {
  @include secondary-btn;
  margin-left: 1em;
}

button, input, select, textarea {
  font-family: inherit;
  margin: 0;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.form-managed-file .form-file, input[type="file"] {
	margin-right: 1em;
  padding: 1em;
}

fieldset {
  margin: 1em;
  margin-top: 1em;
  border: 1px solid #ccc;
}

legend {
  margin: 0;
  font-size: 16px;
  background-color: whitesmoke;
  width: 100%;
  padding: .25em;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}

.fieldset-legend, {
  padding-left: 1.25em;
}

.fieldset-title {
  padding-left: .25em;
}

.fieldset-wrapper {
  padding: 1em;
}

.filter-wrapper {
  border: 1px solid $light-grey;
}

.contact-form{
  .pane-title, 
  label{
    @include element-invisible;
  }
  input, textarea{
    width: 100%;
    &[type="submit"]{
      width: auto;
      @include ease(background, 150ms, ease-in-out);
      &:hover, &:focus{
        background: darken($btn-dark-blue, 5%);
      }
    }
  }
}